<!DOCTYPE html>
<html>
  <head>
    <title>Contact Form using NodeJS</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="contact-us">
      <form action="/" method="post">
        <label>NAME</label>
        <input name="user_name" type="text" />
        <label>EMAIL</label>
        <input name="user_email" type="email" />
        <label>YOUR MESSAGE </label>
        <textarea name="user_message" rows="4"></textarea>
        <button>SUBMIT</button>
      </form>
    </div>
  </body>
</html>
