<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <h1>Messages</h1>
      <% data.forEach((entry)=> {%>
      <section>
        <p><em> Name:</em> <%= entry.name %></p>
        <p><em>Email: </em><%= entry.email %></p>
        <p><em>Message: </em><%= entry.message %></p>
      </section>
      <% }) %>
    </div>
  </body>
</html>
